<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Hello <%= @user.last_name %></h1>
    <p>
      We wanted to let you know that a request to reset password was submitted.
    </p>
    <p>
      To set your new password, follow this link: <%= @url %>.
    </p>
    <p>If you didn't submit this request then please disreguard this email.</p>
  </body>
</html>